[Desktop Entry]
Type=Application
Name=naturalPaint
GenericName=Painting Application
Comment=Natural-media painting and image editing
Exec=naturalPaint %F
Icon=naturalPaint
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;
MimeType=image/png;image/jpeg;image/tiff;image/x-exr;
StartupNotify=true
StartupWMClass=naturalPaint
